html, body, #root {
  height: 100%;         /* full height for all root elements */
  margin: 0;
}

body {
  background: 
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), 
    url('./assets/astronaut.jpg');
  background-size: cover;        /* scale image to always cover */
  background-position: center;   /* keep it centered */
  background-repeat: no-repeat;
  background-attachment: fixed;  /* optional: makes it stick while scrolling */
  color: white;
}